a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.edit {
    display: grid;
    width: 25rem;
    height: auto;
    min-height: 25rem;
    border: 1px solid #c1c1c1;
    justify-content: center;
    background-color: #000;
}

.edit input{
    width: 20rem;
    height: 2rem;
    border: 0.5px solid #c1c1c1;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.edit textarea{
    width: 20rem;
    height: 2rem;
    border: 0.5px solid #c1c1c1;
    border-radius: 5px;
    margin-bottom: 1rem;
    min-height: 2rem;
    max-height: 8rem;
    min-width: 20rem;
    max-width: 20rem;

}


.edit p{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 2rem;
}

.edit .btn {
    background-color: #ff0000;
    border: none;
}